<div class="div1-home">
  <h1>My Garage</h1>
  <h3>Happy to see you again</h3>
</div>

<div class="div2-home">
  <ul>
    <% @user.cars.each do |car| %>
    <li>
      <div>
        <p><%= cl_image_tag car.photo.key, height: 75, width: 100, crop: :fill %>
        <%= link_to car.brand, car_path(car), class: "text-decoration-none" %>
        <%= link_to "âœ", edit_car_path(car), class: "text-decoration-none" %>
        <%= link_to "+", car_path(car), method: :delete, data: { confirm: "Are you sure?" }, class: "text-decoration-none"  %>
        <%= car.model %></p>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to "Add a car", new_car_path %>
</div>
