<div class="div1-home">
  <h1>Events</h1>
  <h3>Take a look at the events that might interest you</h3>
</div>

<div class="div2-event">
  <ul class ="list-unstyled">
    <% @events.each do |event| %>
    <li class="card-event">
      <div class="card-home event-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path event.photo.key,crop: :fill %>')">
        <p><%= link_to event.name, event_path(event), class: "text-decoration-none text-white" %></p>
      </div>
      <div class="event-infos">
        <div>
        <h5><%= link_to event.name, event_path(event), class: "text-decoration-none text-black" %></h5>
        <p>The <%= event.start_date.day %> of <%= event.start_date.strftime("%b") %> <%= event.start_date.year %></p>
        </div>
        <% if event.participations.find_by(user: current_user) == nil %>
            <%= link_to "ENROLL", event_enroll_path(event), method: :post, class: "text-decoration-none enroll-button"  %>
        <% else %>
          <%= link_to "Cancel", delete_path(event.participations.find_by(user: current_user)), method: :delete , class: "text-decoration-none cancel-button" %>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<div class="buton-home-class-event">
  <button type="button" class="buton-home-event text-decoration-none" data-toggle="modal" data-target="#newEventModal">
    + Add an event
  </button>
</div>

<div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="newEventModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black" id="exampleModalLongTitle">Add a new car meeting</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-black">
          <%= simple_form_for(@event) do |f| %>
            <%= f.input :name %>
            <%= f.input :address %>
            <%= f.input :description %>
            <%= f.input :start_date, input_html: {data: {controller: "flatpickr"}, class: "date-flatpickr"}, as: :string %>
            <%= f.input :photo, as: :file %>
            <%= f.submit :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<%= yield %>
<%= render 'shared/footer' %>
