<h1>An Event</h1>
<div class="event-name">
  <h2><%= @event.name %></h2>
  address:<%= @event.address %>
  <br>
  description:<%= @event.description %>
  <br>
  starting time:<%= @event.start_date %>
</div>
<br>
<br>
<% if current_user == @event.participations.empty? %>
  <%= link_to "ENROLL", event_participations_path(@event), method: :post  %>
<% else %>
 <p>You're already going</p>
  number of participations:<%= @event.participations.count %>
<% end %>
<br>
<br>
<%= link_to "🗑", event_path(@event), method: :delete, data: { confirm: "Are  you certain ?" }%>
<br>
<%= link_to "✎", edit_event_path(@event) %>
<br>
<%= link_to "Back to index", events_path %>
