<div class="container-events">
  <div class="banner-event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event.photo.key, crop: :fill %>')" >
      <h2><%= @event.name %></h2>
  </div>
  <div class="name-event">
    <h3>
      <div class="address-event">
        Address: <br>
        <%= @event.address %>
        <br>
        <br>
        The <%= @event.start_date.day %> <%= @event.start_date.strftime("%b") %> of <%= @event.start_date.year %> at <%= @event.start_date.hour %>:<%= @event.start_date.min %>
        <br>
        <br>
        Number of participations: <%= @event.participations.count %>
      </div>
    </h3>
    <div class="link-event">
      <div class="btn-enroll">
        <% if @event.participations.find_by(user: current_user) == nil %>
          <div class="link-btn-event">
            <%= link_to "ENROLL", event_participations_path(@event), method: :post  %>
          </div>
        <% else %>
          <div class="link-btn-event">
            <%= link_to "Cancel participation", participation_path(@event.participations.find_by(user: current_user)), method: :delete %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="description-event">
      Description:
      <br>
      <br>
      <%= @event.description %>
    </div>
  </div>
  <div class="link-event-technic">
    <% if current_user == @event.user %>
      <div class="link-delete-event">
        <%= link_to "Delete this event ", event_path(@event), method: :delete, data: { confirm: "Are  you certain ?" }%>
        <%= link_to "Edit this event", edit_event_path(@event) %>
      </div>
    <% end %>
    <div class="link-event-index">
      <%= link_to "Back to index", events_path %>
    </div>
  </div>
</div>


<div class="container event"
      data-controller="event-subscription"
      data-event-subscription-event-id-value="<%= @event.id%>"
      >
  <h1>#<%= @event.name %></h1>

  <div class="messages" data-event-subscription-target="messages">
    <% @event.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
</div>

<%= simple_form_for [@event, @message],
  remote: true,
  html: {data: {action: "ajax:success->event-subscription#resetForm"}, class: "d-flex" } do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@event.name}",
    wrapper_html: {class: "flex-grow-1"} %>
  <%= f.submit "Send", class: "btn btn-primary" %>
<% end %>

<br>
<br>
<br>
<%= yield %>
<%= render 'shared/footer' %>
