<div class="form-new-car">
  <div class="banner-new-car">
    <h1>Edit <%= @car.brand %></h1>
  </div>
    <%= simple_form_for(@car) do |f| %>
      <%= f.input :brand %>
      <%= f.input :model %>
      <%= f.input :year %>
      <%= f.input :plate %>
      <%= f.input :photo, as: :file %>
      <%= f.submit :submit %>
    <% end %>
</div>

<%= yield %>
<%= render 'shared/footer' %>
