<div>
  <h3> <%= @car.brand %> </h3>
  <ul>
    <li><p> Model :<%= @car.model%></p></li>
    <li><p>year : <%= @car.year %></p></li>
    <li><p>Plate :<%= @car.plate %></p></li>
  </ul>
</div>

<br>
<ul>
  <% @car.papers.each do |paper| %>
    <li><%= link_to paper.name, car_paper_path(@car, paper) %> <%= link_to "🗑",
                                                                    paper_path(paper),
                                                                    method: :delete,
                                                                    data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>
<%= link_to "Add papers", new_car_paper_path(@car) %>

<br>
<ul>
  <% @car.features.each do |feature| %>
    <li><%= feature.spec %> : <%= feature.last_date %> <%= link_to "✎",  edit_car_feature_path(@car, feature) %> <%= link_to "🗑",
                                                                                                                      feature_path(feature),
                                                                                                                      method: :delete,
                                                                                                                      data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>
<%= link_to "Add features", new_car_feature_path(@car) %>

<br>
<%= link_to "History", car_maintenances_path(@car) %>

<br>
<%= link_to "Home", user_path(current_user) %>
