<div>
  <h3> <%= @car.brand %> </h3>
  <ul>
    <li><p> Model :<%= @car.model%></p></li>
    <li><p>year : <%= @car.year %></p></li>
    <li><p>Plate :<%= @car.plate %></p></li>
    <li><%= link_to "✎", edit_car_path(@car) %></li>
    <li><%= link_to "delete", car_path(@car), method: :delete, data: { confirm: "Are you sure?" }   %></li>
  </ul>
</div>

<br>
<ul>
  <% @car.papers.each do |paper| %>
    <li><%= link_to paper.name, car_paper_path(@car, paper) %></li>
  <% end %>
</ul>
<%= link_to "Add papers", new_car_paper_path(@car) %>

<br>
<ul>
  <% @car.features.each do |feature| %>
    <li><%= link_to feature.spec, car_feature_path(feature) %></li>
  <% end %>
</ul>
<%= link_to "Add features", new_car_feature_path(@car) %>

<br>
<%= link_to "History", car_maintenances_path(@car) %>

<br>
<%= link_to "Home", user_path(current_user) %>
