<div class="all alltwo">
  <div class="generale-car mt-1">
      <%= cl_image_tag @car.photo.key, class: "pics-car" %>
      <div class="edit-car">
        <button type="button" class="editcar-modal" data-toggle="modal" data-target="#editCarModal">
          ✎
        </button>
      </div>
    <div class="info-car">
      <h3> <%= @car.brand %> </h3>
      <div class="model-car">
        <p> Model : <%= @car.model%></p>
        <p>Plate : <%= @car.plate %></p>
        <p>year : <%= @car.year %></p>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editCarModal" tabindex="-1" role="dialog" aria-labelledby="editCarModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-black" id="exampleModalLongTitle">Add a feature to your car</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-black">
            <%= simple_form_for(@car) do |f| %>
              <%= f.input :brand %>
              <%= f.input :model %>
              <%= f.input :year %>
              <%= f.input :plate %>
              <%= f.input :photo, as: :file %>
              <%= f.submit :submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="feature-car">
      <h5><%= @car.model %>'s status <br><h6 class="due-date">Due date</h6></h5>
        <% @car.features.order('last_date ASC').each do |feature| %>
          <a class="text-decoration-none" data-toggle="modal" data-target="#modalFeature-<%= feature.id %>">
            <div class="feature">
                <div class="feature1 w-full">
                  <p><%= feature.spec %></p>
                </div>
                <div class="feature2">
                  <p><%= feature.last_date.day %>/<%= feature.last_date.month %>/<%= feature.last_date.year %></p>
                  <% if Date.today - feature.last_date >= 730%>
                    <p>🔴</p>
                  <% elsif Date.today - feature.last_date >= 365 %>
                    <p>🟠</p>
                  <% else %>
                    <p>🟢</p>
                  <% end %>
                </div>
            </div>
          </a>
          <div class="modal fade" id="modalFeature-<%= feature.id %>" tabindex="-1" role="dialog" aria-labelledby="#modalFeature-<%= feature.id %>Title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-black" id="exampleModalLongTitle">Edit feature</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-black">
                  <%= simple_form_for [@car, feature] do |f| %>
                    <%= f.input :spec, as: :select, collection: ["Brakes", "Oil", "Lights", "Tyres", "Windows"] %>
                    <%= f.input :last_date %>
                    <%= f.submit :submit, class: "buton-home-modal" %>
                  <% end %>
                  <%= link_to 'Delete this paper', feature_path(feature), method: :delete, data: { confirm: "Are you sure?" }, class: "buton-car-supp-modal text-decoration-none" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <div class="div-btn-car">
        <button type="button" class="buton-car text-decoration-none" data-toggle="modal" data-target="#newFeatureModal">
          Add a feature
        </button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newFeatureModal" tabindex="-1" role="dialog" aria-labelledby="newFeatureModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-black" id="exampleModalLongTitle">Add a feature to your car</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-black">
            <%= simple_form_for [@car, @feature] do |f| %>
              <%= f.input :spec, as: :select, collection: ["Brakes", "Oil", "Lights", "Tyres", "Windows"] %>
              <%= f.input :last_date %>
              <%= f.submit :submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="feature-car">
      <h5><%= @car.model %>'s papers <br><h6 class="valid-until">Valid until</h6></h5>
        <% @car.papers.order('valid_to ASC').each do |paper| %>
          <a href="<%= car_paper_path(@car, paper) %>" class="text-decoration-none">
            <div class="feature">
                <div class="feature1 w-full">
                  <p><%= paper.name %></p>
                </div>
                <div class="feature2">
                  <p><%= paper.valid_to.day %>/<%= paper.valid_to.month %>/<%= paper.valid_to.year %></p>
                  <% if paper.valid_to > Date.today %>
                    <p>🟢</p>
                  <% else %>
                    <p>🔴</p>
                  <% end %>
                </div>
            </div>
          </a>
        <% end %>
      <div class="div-btn-car">
        <button type="button" class="buton-car text-decoration-none" data-toggle="modal" data-target="#newPaperModal">
          Add a paper
        </button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newPaperModal" tabindex="-1" role="dialog" aria-labelledby="newPaperModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-black" id="exampleModalLongTitle">Add a paper to your car</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-black">
            <%= simple_form_for [@car, @paper] do |f| %>
              <%= f.input :name, as: :select, collection: ["Certificate of conformity", "Insurance","Registration taxes", "Road taxes", "Technical control"] %>
              <%= f.input :valid_from %>
              <%= f.input :valid_to %>
              <%= f.input :authority %>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
              <%= f.submit :submit, class: "buton-home-modal" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="history-btn">
      <a href="<%= car_maintenances_path(@car) %>" class="text-decoration-none">
        <div class="">
          <h5>History of your <%= @car.model %></h5>
        </div>
      </a>
    </div>

  </div>
  <div class="d-flex justify-content-between" >
    <%= link_to "Home", user_path(current_user), class: "buton-home text-decoration-none" %>
    <%= link_to 'Delete this car', car_path(@car), method: :delete, data: { confirm: "Are you sure?" }, class: "buton-car-supp text-decoration-none"   %>
  </div>
</div>


<%= yield %>
<%= render 'shared/footer' %>
