<div class="generale-car">
    <%= cl_image_tag @car.photo.key, class: "pics-car" %>
    <div class="edit-car">
      <%= link_to "✎", edit_car_path(@car), class: "text-decoration-none text-white"  %>
    </div>
  <div class="info-car">
    <h3> <%= @car.brand %> </h3>
    <div class="model-car">
      <p> Model : <%= @car.model%></p>
      <p>Plate : <%= @car.plate %></p>
      <p>year : <%= @car.year %></p>
    </div>
  </div>

  <div class="feature-car">
    <h5><%= @car.model %>'s status</h5>
      <% @car.features.each do |feature| %>
        <a href="<%= edit_car_feature_path(@car, feature) %>" class="text-decoration-none">
          <div class="feature">
              <div class="feature1 w-full">
                <p><%= feature.spec %></p>
              </div>
              <div class="feature2">
                <p><%= feature.last_date %></p>
                <p>🟢</p>
              </div>
          </div>
         </a>
      <% end %>
    <div class="div-btn-car">
      <%= link_to "Add a feature", new_car_feature_path(@car), class: "buton-car text-decoration-none" %>
    </div>
  </div>


  <div class="feature-car">
    <h5><%= @car.model %>'s papers</h5>
      <% @car.papers.each do |paper| %>
        <a href="<%= car_paper_path(@car, paper) %>" class="text-decoration-none">
          <div class="feature">
              <div class="feature1 w-full">
                <p><%= paper.name %></p>
              </div>
              <div class="feature2">
                <p><%= paper.valid_to %></p>
                <p>🟢</p>
              </div>
          </div>
         </a>
      <% end %>
    <div class="div-btn-car">
    <%= link_to "Add a paper", new_car_paper_path(@car), class: "buton-car text-decoration-none" %>
    </div>
  </div>

  <div class="history-btn">
    <a href="<%= car_maintenances_path(@car) %>" class="text-decoration-none">
      <div class="">
        <h5>History of your <%= @car.model %></h5>
      </div>
    </a>
  </div>

</div>
<div class="d-flex justify-content-between" >
  <%= link_to "Home", user_path(current_user), class: "buton-home text-decoration-none" %>
  <%= link_to 'Delete this car', car_path(@car), method: :delete, data: { confirm: "Are you sure?" }, class: "buton-car-supp text-decoration-none"   %>
</div>

<%= yield %>
<%= render 'shared/footer' %>
