<div>
  <div>
    <h1>Update your features</h1>
  </div>
    <%= simple_form_for [@car, @feature] do |f| %>
      <%= f.input :spec %>
      <%= f.input :last_date %>
      <%= f.submit :submit, class: "buton-home m-0" %>
    <% end %>
</div>
<div class="buton-home-class">
  <%= link_to "Delete", feature_path(@feature), method: :delete, data: { confirm: "Are you sure?" }, class: "text-decoration-none buton-home m-0 m-t-1" %></p>
</div>
<br>
<div class="buton-home-class">
  <%= link_to "Back to car", car_path(@car), class: "buton-home text-decoration-none" %>
</div>
